# Ignorar pasta de configurações do VS Code
.vscode/

# Ignorar arquivos de debug do Code::Blocks (caso ainda use)
bin/
obj/
*.layout
*.depend

# Ignorar arquivos de sistema (caso apareçam no status do Git)
Thumbs.db
.DS_Store

# Ignorar arquivos temporários
*.log
*.tmp
*.bak